{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/pages/header.html' %}

    <section class="main-section">
        <div class="main-section-container">
            <h3 class="login-box-headline">Login</h3>
            <form action="main/" method="post">
                {% csrf_token %}
                <div class="login-box">
                    <div class="login-box-inputs">
                        <div class="text-field">
                            <label class="input-label" for="email">E-mail: <br/></label>
                            <input class="text-box" id="email" name="username" required>
                        </div>
                        <div class="text-field">
                            <label class="input-label" for="password">Senha: <br/></label>
                            <input class="text-box" id="password" name="password" type="password" required>
                        </div>
                    </div>
                    <div class="login-box-buttons">
                        <a class="fgtpsw-text support-button" href="login/">Esqueceu sua senha?</a>
                        <input class="submit-button" type="submit" value="Entrar">
                        <a class="didnt-register support-button"href="register/">Ainda não se cadastrou?</a>
        
                    </div>
    
                </div>
            </form>
            
        </div>
    </section>

</body>

</html>